.stfolder/
.idea/
nbproject/
node_modules/
vendor/
var/
Makefile
docker-compose*.yaml
.env.*.local
.env.local.php
.env.test
.dockerignore
.phpunit.result.cache
.php_cs.cache
.git/
.gitattributes
.gitignore
.gitmodules
**/Dockerfile
**/.DS_Store
**/*.md
**/Thumbs.db